@media (min-width: 992px) {
    
    body {
        
        

        

        

        
        

        
    }
}

// extra large viewports ( laptops / desktop )
@media ( max-width: 1400px ) {
    /* body {
        &#bildergalerie {
            .modal {
                .modal-dialog {
                    max-width: 100%;
                    .modal-body {
                        padding: 15px;
                    }
                }
            }
        }
    } */
}

@media ( min-width: 2200px ) {
    body {
        #galerie .galery-group .galery-item .gal-img {
            min-height: 300px;
        }
    }
}

@media ( min-width: 2600px ) {
    body {
        #galerie .galery-group .galery-item .gal-img {
            min-height: 380px;
        }
    }
}