@media (min-width: 992px) {
    
    body {
        
        @media (max-width: 1040px) {
            #header .navbar .navbar-collapse {
                .navbar-nav .nav-item {
                    a {
                        padding: 8px !important;
                    }
                }
            }
        }
  
    }
}



@media ( min-width: 2200px ) {
    body {
        #galerie .galery-group .galery-item .gal-img {
            min-height: 300px;
        }
    }
}

@media ( min-width: 2600px ) {
    body {
        #galerie .galery-group .galery-item .gal-img {
            min-height: 380px;
        }
    }
}