@import './_var';

body {
    background-color: $clr3 !important;
    
    #header {
        height: 90px;
        background: $white;
        .navbar-default {
            background: none;
        }
        .navbar {
            border: 0;
            margin-bottom: 0;
            .navbar-collapse {

                &[aria-expanded='true'] {
                    background: $white;
                    position: absolute;
                    top: 90px;
                    width: 100%;
                    z-index: 100;
                }
                
                &[aria-expanded='false'] {
                    background: $white;
                    top: 90px;
                }

                &.collapsing {
                    background: $white;
                    position: absolute;
                    width: 100%;
                    z-index: 100;
                }

                .nav {
                    .navi.active {
                        a {
                            background-color: $clr1;
                            color: $white;
                            border-radius: 2px;
                        }
                    }
                    
                    a.navi-item.active {
                        background-color: $clr1;
                        color: $white;
                        border-radius: 2px;
                    }
                }
            }

            .container-fluid { margin: 20px 0; }
        }
    }

    .header-brand {
        width: 350px;
        height: 50px;
        margin-left: -15px;

        .navbar-brand {
            padding: 10px 25px;
            display: flex;
            align-items: center;
            color: $black;
            font-size: 20px;
            font-weight: 600;

            img { margin-right: 15px; }
        }
    }
    
    .hero-img-slider {
        background: #141414;
        background: url("../img/1979-86.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
        position: relative;
        
        .img-overlay{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            background: linear-gradient(45deg, rgba(145,22,108, .5), rgba(14, 80, 97, .5));
        }

        .hero {
            min-height: 400px;
            width: 100%;
            margin-top: 30px;

            //.owl-stage-outer { height: 92vh; }
        }
    }

    #content-wrapper {
        min-height: calc(100vh - 110px);

        // startseite
        .content-wrap {
            padding: 45px 0;
            margin-bottom: 30px;
            min-height: calc(100vh - 318px);

            .galery-header, .section-header {
                display: flex;
                background: $white;
                margin-top: 7.5px;
                padding: 7.5px 0;
                align-items: center;

                h2 {
                    padding: 5px 0;
                    margin: 0;
                    color: $black;
                }
            }

            // article
            .article-wrap {
                margin-bottom: 30px;
            }
            
            .article {
                position: relative;
                background: $white;
                padding: 15px;
                border: solid #ddd 1px;
                margin-bottom: 15px;
                border-radius: 5px;
                min-height: 390px;

                
                .article-bg-img {
                    background: #bec1c6;  /* fallback for old browsers */
                    

                    img { 
                        width: 50%;
                        margin: 10px 0 10px 25%; 
                    }
                }

                .article-content {
                    margin-top: 5px;
                    min-height: 100px;
                    max-height: 100px;
                    
                    .post-tag {
                        display: flex;
                        gap: 10px;
                        margin: 15px 0 15px 0;
                        

                        .tag-item {
                            background: $clr1;
                            padding: 2.5px 7.5px;
                            border-radius: 5px;
                        }
                    }
                    
                }
                
                a {
                    h4 {
                        margin-top: 15px;
                    }

                    h4, p {
                        color: $clr2;
                    }
    
                    &:visited, &:active, &:link {
                        h4 { color: $clr2; }
                    }
                }
                
            }

            .social-wrap {
                background: $white;
            }
            
            // site sponsoring styles
            .sponsoring-group {

                .sponsor-item { margin-bottom: 32px; 

                    .sponsor-content {
                        background: $white;
                        padding: 16px;
                        min-height: 240px;

                        .sponsor-info { text-align: center; }
                        
                        .img {
                            width: 100%;
                            text-align: center;
                            margin-bottom: 16px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            padding: 32px 16px;
                        }
                    }
                }
                
            }

            // site history styles
            .history-group {
                
                .history-item { margin-bottom: 45px;

                    h4 {
                        width: 200px;
                        padding: 5px 0;
                        margin: 0;
                        background: $clr1;
                        color: $white;
                        text-align: center;
                    }

                    .his-content {
                        background: $white;
                        min-height: 200px;
                        padding-top: 32px;

                        .tab { display: flex;

                            .img {
                                width: 80px;
                                height: 80px;
                                //border: solid $grey 1px;
                                margin: 16px 8px;
                            }

                            p { align-self: center; }
                        }
                    }
                }
            }
        }

        //sidr
        .side-wrap {  padding-top: 45px;

            .team {
                margin-bottom: 15px;
            }
        }

        //article
        .post-content {
            background: $white;
            margin-top: 30px;
            margin-bottom: 90px;
            padding: 15px;

            .head-content {
                margin-bottom: 30px;

                .post-tag {
                    display: flex;
                    gap: 20px;

                    .tag-item {
                        background: $clr1;
                        padding: 2.5px 7.5px;
                        border-radius: 5px;
                        color: $white;
                    }
                }
            }
        }

        .middle-hero-wrap {
            background-image: url("../img/img.jpg");
            background-repeat: no-repeat;
            width: 100%;
            height: 700px;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;

            img {
                margin-top: -50px;
            }
        }

        .tables-wrap, .impressions-wrap {
            width: 100%;
            min-height: 600px;
            margin-bottom: 45px;
        }

    }

    // footer styles
    .footer {
        background: $white;
        //border-top: solid $clr1 2px;
        //min-height: 220px;

        .footer-content { min-height: 200px; }

        .footer-links {
            //background: url('../img/header_highlight_bg.svg') no-repeat;
            //background-size: 400px;

            .link-wrap {
                display: flex;
                padding: 0;

                .link-item { padding: 8px; }

                .link { color: $black; }
            }

            .copyright {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    /** Styles for login in section **/
    &#login {
        #content-wrapper {
            min-height: calc(100vh - 120px);

            .login-form {
                width: 50%;
                transform: translateX(50%);

                form {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    input { 
                        margin-bottom: 20px;
                        border: 0;
                        padding: 7.5px;
                    }

                    button {
                        border: 0;
                        padding: 7.5px;
                        background: $clr1;
                        color: $white;
                    }
                }
            }
            .footer { height: 30px;}
        }
    }

    /** Styles for logged admin in section **/
    &#loggedin {
       
        header {
            height: 70px;
            margin-bottom: 90px;
        }

        .navbar {
            padding: 7.5;
            .container-fluid {
                margin: 0;

                .nav-item{ 
                    padding: 0.5rem;
                    align-self: center;
                }
            }
        }
       
        #content-wrapper { 
            min-height: calc(100vh - 220px);
            .accordion { margin-bottom: 30px;
                
                .accordion-header {
                    background: darken($white, 20%);
                }

                .accordion-body {
                    .add-item {
                        margin: 15px 0;
                        text-align: end;
                    }
                    table { width: 100%;
                        tbody {
                            td:nth-of-type(1) {
                                input { width: 100% !important; }
                            }
                            td:nth-child(n) {
                                input {
                                border: none;
                                background: none;
                                width: 50px;
                                }
                            }
                        }
                    }
                }
            }

            .accordion-button {
                &:not(.collapsed) {
                    background-color: white;
                }

                &:focus, &:target, &:active {
                    background-color: $white;
                    //border-color: none;
                    box-shadow: none;
                }
            }

            #gal-data-group {
              .tbl {
                input {
                    pointer-events: none;
                    min-width: 100px;
                }

                input[name="descript"] {
                   width: 350px;
                }
              }  
            }

            .edit-article-section, .edit-player-section {
                margin-bottom: 60px;

                .edit-actions {

                    .col:nth-of-type(2) {
                        text-align: right;
                    }
                    
                }
            }

        }

        footer {
            background: $white;
            padding: 15px 30px;
        }
    }

    /** Styles for all men teams **/
    //&#herren1, &#herren2, &#herren3, &#herren4, &#herren5 {
    &#mannschaften {
        .team-section {
            background: #fff;
            padding: 0;
            padding-bottom: 45px;
            

            .team-img {
                margin-bottom: 45px;
            }

            .team-data {
                .tab-header {
                    background: #ddd;
                    padding: 15px 15px 5px;
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .team-group {
                    list-style: none;
                    background: linear-gradient(0deg, #ddd, #ccc);
                    padding: 15px;
                    border-radius: 2px;
                    
                    .divider {
                        width: 95%;
                        height: 1px;
                        background: #aaa;
                        margin: 8px;
                        margin-left: 2.5%;
                        border-radius: 8px;
                    }

                    .player-header {
                        display: flex;
                        justify-content: space-between;
                        padding: 7.5px 8px 5px;
                        .player-data-header, .player-points-header {
                            color: #000;
                            font-weight: 600;
                        }

                        .player-data-header {
                            .position {
                                margin-right: 8px;
                            }
                        }
                    }

                    .player-data {
                        display: flex;

                        .position {
                            background: #fff;
                            width: 36px;
                            height: 36px;
                            margin: 5px;
                            text-align: center;
                            align-content: center;
                        
                        }

                        .player {
                            background: linear-gradient(60deg, #fff, #eee);
                            padding: 7.5px;
                            margin: 5px;
                            display: inline-flex;
                            justify-content: space-between;
                            width: 100%;
                            height: 36px;
                        }
                    }

                    

                    
                }
            }
        }
    }

    &#historie {
        #content-wrapper .content-wrap 
        .galery-header {
            margin-top: 0;
            padding: 15px 0;
        }

        .history-item {
            .his-content {
                display: flex;
                justify-content: space-between;

                .his-text {
                    display: flex;
                    gap: 10px;
                }
            }

            .history-item-wrap {
                .his-content {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    &#bildergalerie {

        .gal-img-group {
            background-color: $white;

            .gal-img-item {
                margin-bottom: 15px;
                min-height: 400px;

                .img-item-body {
                    background: $white;
                    border: solid #ddd 1px;
                    border-radius: 4px;
                    padding: 15px;
                
                    .img-header {
                        background: white;
                        width: 100%;
                        height: 15px;
                    }

                    .img-item {
                        img {
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            object-position: 50%;
                        }
                    }

                    .img-data {
                        background: white;
                        width: 100%;
                        padding: 7.5px;
                    }

                    // &:hover {
                    //     box-shadow: 0 0 15px .5px #aaa;
                    // }
                }
            }
        }

        
    }

    &#galerie {

        // gallery
        .galery {
            background: $white;
            min-height: 400px;

            .galery-header {
                display: flex;
                margin-bottom: 15px;
                margin-top: 7.5px;
                padding: 7.5px 0;
                align-items: center;

                h2 {
                    padding: 5px 0;
                    margin: 0;
                    color: $black;
                }
            }

            .galery-item {
                margin-bottom: 20px; 
    
                .gal-img {
                    background: url("../img/gallery/dekx.png") no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 200px;
    
                    img { 
                        width: 100%;
                        min-height: 200px;
                        object-fit: cover; 
                    }
                }
    
                a {
                    display: block;
                    width: 100%;
    
                    .galery-time {
                        background: #d2d2d2;
                        padding: 10px;
    
                        p {
                            font-size: 18px;
                            font-weight: 600;
                            text-align: center;
                            color: #000;
                        }
                    }
                    
                    &:hover {
                        box-shadow: 0 0 5px 2.5px #dbdbdb;
                        text-decoration: none;

                        .galery-time {
                            background: lighten($clr1, 5%) !important;
    
                            p {
                                color: $white;
                            }
                        }
                    }
                }
    
                /* &.item50 {
                    .gal-img {
                        background: url("../img/gallery/dek50er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item60 {
                    .gal-img {
                        background: url("../img/gallery/dek60er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item70 {
                    .gal-img {
                        background: url("../img/gallery/dek70er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item80 {
                    .gal-img {
                        background: url("../img/gallery/dek80er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item90 {
                    .gal-img {
                        background: url("../img/gallery/dek90er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item00 {
                    .gal-img {
                        background: url("../img/gallery/dek00er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item10 {
                    .gal-img {
                        background: url("../img/gallery/dek10er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
                /* &.item20 {
                    .gal-img {
                        background: url("../img/gallery/dek20er.svg") no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 200px;
                    }
                } */
            }

        }

        
    }

    &#sponsoren {
        
        .sponsoring-group {
            background: $white;
        }
    }

    &#kontakt {
        .form-wrap {
            background: $white;
        }

        .hc-form-content {
            margin-top: 45px;
            margin-bottom: 45px;
        }

        .form-box {
            margin: 15px 0;
        }
    }

    &#index {
        //border: solid red 1px;
        
        .content-wrap {
            #article-wrap {
                background: $white;

                .section-header {
                    margin-bottom: 30px;
                } 
            }
        }
    }   
    
    
    // extra small viewports ( mobile phones )
    @media ( max-width: 600px ) {
        //border: solid red 1px;
        // white mobile menu bg 
        .navbar {
            //border: solid red 1px;
            //.navbar-collapse[aria-expanded='true'] { background-color: $white; }
            .header-brand {
                min-width: 100px;
            }
        } 
        
    }
    
    // small viewports ( bigger mobile phones )
    @media ( min-width: 600px ) {
        //border: solid greenyellow 1px;
        // white mobile menu bg 
        //.navbar .navbar-collapse[aria-expanded='true'] { background-color: $white; }
    }
    
    // medium viewports ( tablets )
    @media ( min-width: 768px ) {
        //border: solid blue 1px;
        // white mobile menu bg 
        //.navbar .navbar-collapse[aria-expanded='true'] { background-color: $white; }
    }
    
    // large viewports ( laptops / desktop )
    @media ( min-width: 992px ) {
        //border: solid yellow 1px;
    }
    
    // extra large viewports ( laptops / desktop )
    @media ( min-width: 992px ) {
        //border: solid magenta 1px;
    }
}

